<ng-container
  *ngIf="isLoading | async; then loadingTemplate; else finishedLoadingTemplate"
></ng-container>

<!-- render this template while fetching products from server -->
<ng-template #loadingTemplate>
  <div class="al-center">
    <loading-product></loading-product>
  </div>
</ng-template>

<!-- once loading is done, render this -->
<ng-template #finishedLoadingTemplate>
  <ng-container
    *ngIf="isError | async; then errorTemplate; else successTemplate"
  ></ng-container>
</ng-template>

<ng-template #errorTemplate>
  <div class="al-center">
    <h3>Ops!! couldn't fill your store :(</h3>
  </div>
</ng-template>

<div class="container">
  <ng-template #successTemplate>
    <div class="row wrap gap">
      <div class="col s-3 al-right">
        <filter-products
          (onFilterKeyChange)="onFilterList($event)"
        ></filter-products>
      </div>
      <ng-container
        *ngIf="
          isEmpty | async;
          then emptyProductsTemplate;
          else productsListTemplate
        "
      ></ng-container>
    </div>
  </ng-template>
</div>

<ng-template #emptyProductsTemplate>
  <div class="al-center">
    <h3>Are you hungry?! Waite until we find you products</h3>
  </div>
</ng-template>

<ng-template #productsListTemplate>
  <div class="col s-12 row wrap gap al-right">
    <div class="col s m l" *ngFor="let product of products | async">
      <product-item
        [product]="product"
        (onProduct)="onProductClick($event)"
      ></product-item>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="(showProductDetailsModal | async) as modalStatus">

  
  <modal (onClose)="onCloseModal()" [isVisible]="modalStatus">
    <product-popup></product-popup>
  </modal>
</ng-container>
