<div class="container">
  <ng-container
    *ngIf="isLoading | async; then loadingTemplate; else loadedTemplate"
  ></ng-container>
</div>

<ng-template #loadingTemplate>
  <div class="al-center">
    <loading-product></loading-product>
  </div>
</ng-template>

<ng-template #errorTemplate>
  <h3>Ops! No product was found!</h3>
</ng-template>

<ng-template #loadedTemplate>
  <div class="row al-center wrap">
    <div class="col s-12">
      <ng-container
        *ngIf="isError | async; then errorTemplate; else productDetailsTemplate"
      >
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #productDetailsTemplate>
  <ng-container *ngIf="product | async as productDetails">
    <div class="row gap wrap al-center">
      <product-item [product]="productDetails"></product-item>
    </div>
  </ng-container>
</ng-template>
