@import "../../../../styles//color.scss";

.footer {
  width: 100%;
  background-color: $grey-color;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $white-color;

  padding: 10px;

  span {
    color: $secondary-color;
  }
}
