@import '../../../../../styles/layout.scss';

.image{
    width:  100px;
    height: 100px;
    object-fit: cover;
    // height: 20px;

    img{
        width: 100%;
        height: 100%;
    }

}

.product-info{
    margin-bottom: 20px;
}